---
layout: default
title: News
description: Group criteria
---

<div class="row">

    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">

        <!-- Bander -->

        <img src="{{ site.baseurl }}/assets/logo.svg" style="width:100%" />

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-outline-primary bg-body-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">Menu</span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <h4><a class="nav-item nav-link" href="./index.html">Home</a></h4>
                    <h4><a class="nav-item nav-link" href="./about.html">About</a></h4>
                    <h4><a class="nav-item nav-link" href="./past_talks.html">Past Talks</a></h4>
                    <h4><a class="nav-item nav-link" href="./pitches.html">Pitches</a></h4>
                    <h4><a class="nav-item nav-link" href="./spotlight.html">Spotlight</a></h4>
                    <b>
                        <h4><a class="nav-item nav-link active" href="./news.html">News<span
                                    class="sr-only">(current)</span></a>
                    </b></h4>
                </div>
            </div>
        </nav>
        <br>
        <br>

        <!-- Posts -->
        <!-- <h1 class="pageTitle">News</h1> -->
        <div id="articles">
            <br>
            <ul class="posts noList">
                {% for post in site.posts %}
                <li>
                    <span class="date">{{ post.date | date_to_string }}</span>
                    <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                    <!-- <img src="{{ site.baseurl }}/assets/posts/kickoff.jpeg" class="img-thumbnail" alt="..."> -->
                    <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines |
                        truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{%
                        endif %}
                    </p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>